@import "tailwindcss";

:root {
  --primary-color: #1E88E5;
  --accent-color: #00C8D4;
  --highlight-color: #8BC34A;

  --text-muted: #37474F;
  --text-color: #37474F;

  --background-color: #F5F7FA;
  --foreground-color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@keyframes fadeInSlow {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideUpSlow {
  0% { opacity: 0; transform: translateY(60px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInDelay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

.animate-fadeInSlow {
  animation: fadeInSlow 1.2s ease forwards;
}

.animate-slideUpSlow {
  animation: slideUpSlow 1s ease forwards;
}

.animate-fadeInDelay {
  animation: fadeInDelay 1.4s ease forwards;
}

.animate-floatSlow {
  animation: floatSlow 3s ease-in-out infinite;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
